<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature"{% if feature.background_color %} style="background-color: {{ feature.background_color }};"{% endif %}>
        <div class="featureIconBackground">
            <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }}"></i>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>