<div class="features">

    {% assign current_lang = page.lang | default: site.default_lang %}
    {% if current_lang == "en" %}
        {% assign features_list = site.features_en %}
    {% else %}
        {% assign features_list = site.features %}
    {% endif %}

    {% for feature in features_list %}

    {% if feature.title %}
    <div class="feature"{% if feature.background_color %} style="background-color: {{ feature.background_color }};"{% endif %}>
        <div class="featureIconBackground">
            <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }}"></i>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>