{% if site.languages.size > 1 %}
{% assign current_lang = page.lang | default: site.default_lang %}
{% if page.url contains '/en/' %}
  {% assign current_lang = 'en' %}
{% else %}
  {% assign current_lang = site.default_lang %}
{% endif %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-globe"></span>
    {% if current_lang == "zh-CN" %}
      中文
    {% elsif current_lang == "en" %}
      English
    {% else %}
      {{ current_lang }}
    {% endif %}
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
    {% for lang in site.languages %}
      {% if lang != current_lang %}
        {% assign target_url = page.url %}
        {% if lang == site.default_lang %}
          {% assign target_url = page.url | remove_first: '/en' %}
          {% if target_url == '' %}{% assign target_url = '/' %}{% endif %}
        {% else %}
          {% if page.url == '/' or page.url == '/index.html' %}
            {% assign target_url = '/' | append: lang | append: '/' %}
          {% else %}
            {% assign target_url = '/' | append: lang | append: page.url %}
          {% endif %}
        {% endif %}
        <a class="dropdown-item" href="{{ target_url }}">{{ site.data.languages[lang].name | default: lang }}</a>
      {% endif %}
    {% endfor %}
  </div>
</li>
{% endif %}
